﻿@model List<PressRelease>

<div class="PageHeader">
    <h1>Press releases</h1>
</div>

<form novalidate="" class="ng-untouched ng-pristine ng-valid">
    <div class="InputWithIcon InputWithIcon--alignRight InputWithIcon--iconLarge">
        <i class="Icon Icon-search"></i>
        <input class="form-control" name="query" type="search">
    </div>

    <div class="ToggleButtons u-mbMedium" data-toggle="buttons">
        <!----><label class="btn Button--round active">

            <input autocomplete="off" name="category" type="radio" value="categoryValue.id" class="ng-untouched ng-pristine ng-valid">
            Show All
        </label><label class="btn Button--round">

            <input autocomplete="off" name="category" type="radio" value="categoryValue.id" class="ng-untouched ng-pristine ng-valid" >
            Regulatory
        </label><label class="btn Button--round">

            <input autocomplete="off" name="category" type="radio" value="categoryValue.id" class="ng-untouched ng-pristine ng-valid">
            Non Regulatory
        </label>
    </div>
</form>

<div class="PostsList">
    <ul class="list-unstyled">
        @foreach (myDD4Tproject.Models.PressRelease pr in Model)
        {
            <li class="PostsList-item">
                <div class="PostsList-content">
                    <div class="PostsList-title">
                        <a href="../press-release/@pr.Address">
                            <h2 class="h6">@pr.Title</h2>
                        </a>
                        <time class="PostsList-date Date">
                            @pr.Date.ToString("yyyy-mm-dd hh:mm")
                        </time>
                    </div>

                    <p> @pr.Introduction</p>
                </div>
            </li>
        }
    </ul>
</div>
