﻿
@model CallToAction

<div class="Hero Hero--fullscreen Hero--background" id="section-3">
    <div class="Image Image--cover">

        <img data-object-fit="" src="@Model.Image https://productmediaessity.azureedge.net/images-c5/573/w1080_jpg/149573.jpg" srcset="@Model.Image https://productmediaessity.azureedge.net/images-c5/573/w1080_jpg/149573.jpg 1080w,
@Model.Image.Replace("1080","1200") 1200w,
@Model.Image.Replace("1080","1440") 1440w,
@Model.Image.Replace("1080","240")  240w,
@Model.Image.Replace("1080","480")  480w,
@Model.Image.Replace("1080","690")  690w,
@Model.Image.Replace("1080","720")  720w
" sizes="(min-width:1368px) 1320px,(min-width:1255px) 1200px,(min-width:1005px) 960px,(min-width:768px) 720px,calc(100vw-26px)" alt="">

    </div>
    <div class="Hero-content">
        <h2 class="h1">@Model.Text</h2>


        <a class="Link-primary Link-bold" title="" target="" href="@Model.Address">
            @Model.Title
        </a>



    </div>
</div>