﻿﻿@model QueryWidget

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="Card Card--contentBottom Card--list aos-init aos-animate" data-aos="fade" data-aos-delay="300">
        <div class="Card-header">
            <h2>Financial Reports</h2>
        </div>
        <div class="Card-content">
            <div class="MediaList">
                <ul class="list-unstyled">
                    @foreach (var report in Model.PressReleases)
                    {
                        <li class="MediaList-item">

                            <a href="/media/press-release/@report.Address">
                                <div class="MediaList-left MediaList-left--small">
                                    @{ int x;
                                        string imgsrc;
                                        if (report.Title.Contains("Q3")) { x = 3; imgsrc = "https://productmediaessity.azureedge.net/images-c5/883/165883/w1440_jpg/2017-q-3-report-570x400.jpg"; }
                                        else
                                        {
                                            if (report.Title.Contains("Q1")) { x = 1; }
                                            else if (report.Category == "Annual Report") { x = 4; }
                                            else { x = 2; }
                                            imgsrc = "https://productmediaessity.azureedge.net/images-c5/88" + x + "/16588" + x + "/w1080_jpg/2017-q-" + x + "-report-1440w.jpg";
                                        }
                                    }
                                    <img src="@imgsrc" srcset="@imgsrc 1080w,
@imgsrc 1200w,
                                                    @imgsrc 1440w,
                                                    @imgsrc 240w,
                                                    @imgsrc 480w,
                                                    @imgsrc 690w,
                                                    @imgsrc 720w
                                                        " sizes="(min-width:1368px) 1320px,(min-width:1255px) 1200px,(min-width:1005px) 960px,(min-width:768px) 720px,calc(100vw-26px)" alt="2017-Q-@x-Report-Icon.jpg">
                                </div>
                                <div class="MediaList-content">
                                    <h3 class="h6">@report.Title</h3>
                                    <time class="Date">@report.Date.ToString("yyyy-mm-dd hh:mm")</time>
                                </div>
                            </a>
                        </li>

                    }
                </ul>
            </div>
            <a class="Link-primary Link-bold" href="/media/press-releases/?category=reports">See all Financial Reports</a>
        </div>
    </div>
</div>