﻿﻿@model QueryWidget

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="Card Card--contentBottom Card--list aos-init aos-animate" data-aos="fade" data-aos-delay="0">
        <div class="Card-header">
            <h2>@Model.Heading</h2>
        </div>
        <div class="Card-content">
            <div class="MediaList">
                <ul class="list-unstyled">
                    @foreach (var pr in Model.PressReleases)
                    {
                        <li class="MediaList-item">
                            <a href="/media/press-release/@pr.Address">

                                <time class="MediaList-left MediaList-calendarDate">
                                    <span>@pr.Date.Day</span>
                                    @pr.Date.ToString("MMM")
                                </time>
                                <div class="MediaList-content">
                                    <h3 class="h6">@pr.Title</h3>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <a class="Link-primary Link-bold" href="/media/press-releases/">@Model.ReadAllLinkText</a>
        </div>
    </div>
</div>