﻿@model PressRelease

<div class="PageHeader">
    <h1>
        @Model.Title
    </h1>
</div>

<div class="Wysiwyg">
    <p style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><strong>@Model.Introduction</strong></span></p>
    @Model.Body
</div>

<div class="File">
    <a class="Link-bold" href="@Model.File">
        <div class="File-title">
            @Model.Title
        </div>
        <img src="./www.essity.com_files/download.svg" alt="">
    </a>
</div>

<div class="BlockLink BlockLink--spaceLarge">
    <a class="Link-bold Link-bold--primary" href="/media/press-releases/">Back to press releases</a>
</div>