﻿@model StandardPageModel

<div class="SectionSnap">
    @Html.Render(Model.AllItems.FirstOrDefault())
    <div class="Hero Hero--cards" id="section-2">
        <div class="Hero-container">
            <div class="row EqualCol">
                 @foreach (var item in Model.AllItems) {
                     if (item.GetType().ToString() != "myDD4Tproject.Models.CallToAction")
                     {
                         @Html.Render(item);
                     }
                 }
            </div>
        </div>
    </div>
    @foreach (var item in Model.AllItems)
    {
        if (item.GetType().ToString() == "myDD4Tproject.Models.CallToAction" && item != Model.AllItems.FirstOrDefault())
        {
            @Html.Render(item);
        }
    }
</div>